<!-- Section2 -->
<div id="section-2" class="container">
    <div class="row">
        <div class="col-md-12">
            <header class="post-content block-center">
                <h6>Vel Bibendum </h6>
                <h1>Phasellus fermentum in, dolor facilisis.</h1>
            </header>
        </div>
        <div class="col-md-4 col-md-offset-1 border-con aligncenter wow bounceInLeft">
            <figure>
                <img src="~/images/pic-1.png">
            </figure>
            <figcaption>
                <h4>Tamatha Ealy</h4>
                <h5>@@foxrun</h5>
            </figcaption>
            <blockquote>
                &quot;Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Sed vel lectus. Ut sagittis, ipsum dolor quam.&quot;
            </blockquote>
        </div>
        <div class="col-md-4 col-md-offset-1 border-con aligncenter wow bounceInRight">
            <figure>
                <img src="~/images/pic-2.png">
            </figure>
            <figcaption>
                <h4>Chet Darrow</h4>
                <h5>@@cheetChet</h5>
            </figcaption>
            <blockquote>
                &quot;Ultricies eu, faucibus quis, porttitor eros cursus lectus, pellentesque eget, bibendum a, gravida ullamcorper quam. Nullam viverra consectetuer.&quot;
            </blockquote>
        </div>
        <div class="col-md-4 col-md-offset-1 border-con aligncenter wow bounceInLeft">
            <figure>
                <img src="~/images/pic-3.png">
            </figure>
            <figcaption>
                <h4>Arturo Wolpert</h4>
                <h5>@@hello_art</h5>
            </figcaption>
            <blockquote>
                &quot;Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus blandit eu, tempor diam pede.&quot;
            </blockquote>
        </div>
        <div class="col-md-4 col-md-offset-1 border-con aligncenter wow bounceInRight">
            <figure>
                <img src="~/images/pic-4.png">
            </figure>
            <figcaption>
                <h4>Eryn Benny</h4>
                <h5>@@Eryn_Benny</h5>
            </figcaption>
            <blockquote>
                &quot;vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae.&quot;
            </blockquote>
        </div>
    </div>
</div>
<!-- Section2 end -->
