<!-- Section3 -->
<div id="section-3" class="container wow fadeInDown">
    <div class="row">
        <div class="col-md-12">
            <header class="post-content block-center">
                <h1>rhoncus eu luctus et interdum.</h1>
                <h6>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. <br>Maecenas malesuada elit lectus felis, malesuada ultricies. </h6>
            </header>
            <div class="block-center">
                @Html.ActionLink("sign up for free", "Reg", "Home", routeValues: null, htmlAttributes: new { @class = "custom-link-btn type-2 custom-fade uppercase" })
                <!--<a href="~/Home/Reg" class="custom-link-btn type-2 custom-fade uppercase">sign up for free</a>-->
            </div>
        </div>
    </div>
</div>
<!-- Section3 end -->
