<div class="slider-wrapper">
    <div class="responsive-container">
        <div class="slider">
            <div class="fs_loader"></div>
            <div class="slide bg-1">
				<div class="block-normal adjust-mobile-1" data-position="90,0" data-in="top" data-ease-in="easeOutCirc">
					<img src="~/images/top-logo.png" alt="logo" title="Logo" class="img-slide-logo">
				</div>
				<div class="block-normal adjust-mobile-2" data-position="190,0" data-in="bottom" data-out="fade" data-step="1">
					<h1 class="left-text">Nullam viverra consectetuer<br><strong>quisque cursus et</strong>,nunc,<br>accumsan congue.</h1>
				</div>
				<div class="block-normal adjust-mobile-3" data-position="380,0" data-in="bottom" data-step="1">
					<p class="left-text padd-par">Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis fauer lobortis quis, varius in, purus.</p>
				</div>
				<div class="block-normal adjust-mobile-4" data-position="480,0" data-in="bottom" data-out="fade" data-step="1">
					<a href="" class="custom-link-btn custom-fade uppercase">TAKE A TOUR</a>
					<a href="" class="custom-link-btn custom-fade uppercase">WATCH A VIDEO</a>
				</div>
				<img src="~/images/woman.png" class="img-slide1" data-position="20,780" data-step="1" data-in="fade" data-ease-in="easeOutCirc">
			</div>
			<div class="slide bg-2" data-in="fade">
				<div class="block-center2  adjust-mobile-5" data-position="50,0" data-in="top" data-ease-in="easeOutCirc">
					<img src="~/images/top-logo.png" alt="logo" title="Logo" class="img-slide-logo">
				</div>
				<div class="block-center2 adjust-mobile-6" data-position="170,0" data-in="bottom" data-step="1">
					<p>Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis fauer lobortis quis, varius in, purus.</p>
				</div>
				<div class="block-center2 adjust-mobile-7" data-position="230,0" data-in="bottom" data-out="fade" data-step="1">
					<a href="" class="custom-link-btn custom-fade uppercase">TAKE A TOUR</a>
				</div>
				<img src="~/images/man-1.png" class="img-slide2-1" data-position="320,210" data-step="2" data-in="fade" data-out="fade" data-ease-in="easeOutCirc">
				<img src="~/images/man-2.png" class="img-slide2-2" data-position="320,820" data-step="2" data-in="fade" data-out="fade" data-ease-in="easeOutCirc">
				<img src="~/images/woman2.png" class="img-slide2-3" data-position="320,520" data-step="2" data-in="fade" data-out="fade" data-ease-in="easeOutCirc">
			</div>
        </div>
        <div class="block-center top-pos">
            <a href="#page-content" data-scroll data-options='{ "easing": "linear" }' class="link-to center-pos">
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
