@import url("../fonts/fonts.css");
#loader-wrapper {
	background-color:#ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;
        -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
body{
	background-color:#ffffff;
	-webkit-font-kerning: auto;
	-webkit-font-smoothing: antialiased;
	font-family: 'open_sansregular';
	overflow-x:hidden;
}
:focus {outline:0 none;outline-offset:0;}

/*-- TypoGraphy --*/
h1 {
	font-size:42px;
	font-family: 'open_sanslight';
	font-style: normal;
}
h2{
	font-size:26px;
	font-family: 'open_sanslight';
	font-style: normal;
}
h3{
	font-size:24px;
	font-family: 'open_sanslight';
	font-style: normal;
}
h4{
	font-size:18px;
	font-family: 'open_sanslight';
	font-style: normal;
}
h5{
	font-size:14px;
	font-family: 'open_sanslight';
	font-style: normal;
}
blockquote {
    border-left: medium none;
    color: #8a8a8a;
    font-family: Georgia;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding: 10px 4px;
}
/*-- TypoGraphy --*/

/*-- General Class --*/
.white-bg {background-color:#ffffff;}
.blue-bg {background-color:#2c3e50;}
.d-line {
    background-color: #e6e9eb;
    height: 2px;
    left: -20%;
    position: absolute;
    top: 600px;
    width: 140%;
    z-index: 8001;
}
	.d-line.diagonal-1 {
		-moz-transform:rotate(10deg);
		-webkit-transform:rotate(10deg);
		transform:rotate(10deg);
	}
	.d-line.diagonal-2 {
		-moz-transform:rotate(-10deg);
		-webkit-transform:rotate(-10deg);
		transform:rotate(-10deg);
	}
	.d-line.diagonal-3 {
		-moz-transform:rotate(20deg);
		-webkit-transform:rotate(20deg);
		transform:rotate(20deg);
	}
	.d-line.diagonal-4 {
		-moz-transform:rotate(-20deg);
		-webkit-transform:rotate(-20deg);
		transform:rotate(-20deg);
	}
	
.block-center {height:auto;display:block;text-align:center;}
.aligncenter {text-align:center;}
.uppercase {text-transform:uppercase;}
.border-con {border:1px solid #e1e1e1;}
.minh {min-height:100px;}

.custom-link-btn {
	background-color:#22303d;
	border-style:solid;
	border-width:2px;
	border-color:#ffffff;
	display:inline-block;
	vertical-align:middle;
	min-width:230px;
	height:70px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	text-decoration:none;
	line-height:70px;
	text-align:center;
	color:#ffffff;
	margin:0 15px;
}
.custom-link-btn.type-2 {
	background-color:#16a085;
	border-width:0 0 2px;
	border-color:transparent transparent #3bd4b6;
}
	.custom-link-btn:hover {
		background-color:#16a085;
		height:72px;
		border-style:solid;
		border-width:0 0 2px;
		border-color:transparent transparent #ffffff;
		color:#ffffff;
		text-decoration:none;
	}
	.custom-link-btn.type-2:hover {
		background-color:#228773;
		height:70px;
		border-style:solid;
		border-width:0 0 2px;
		border-color:transparent transparent #1b7160;
		color:#ffffff;
		text-decoration:none;
	}
.custom-fade {
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	transition:all 0.5s linear;
}
.link-to {
	background-color:transparent;
	width:40px !important;
	height:40px !important;
	border:2px solid #ffffff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-decoration:none;
	color:#ffffff;
	vertical-align:middle;
	display:block;
	text-align:center;
	line-height:40px;
}
	.link-to:hover {background-color:#ffffff;}
	.link-to.green {border:1px solid #16a085;color:#16a085;}
	.link-to.center-pos{margin:0 auto 20px;}
	
.topcon {margin-bottom:72px;}

.post-content {padding-top:0;}
	.post-content h6 {
		color: #a9a9a9;
		display: block;
		font-family: georgia;
		font-size: 12px;
		font-style: italic;
		line-height: 26px;
		margin-bottom: 12px;
		margin-top: 16px;
	}
	.post-content h1 {
		font-family: 'open_sanslight';
		color:#363636;
		display:block;
		font-size:36px;
		font-weight:normal;
		margin-top:0;
		margin-bottom:10px;
		text-transform:uppercase;
		line-height:30px;
	}
	.post-content h1 i {color:#d0d6d9;vertical-align:bottom;}
	.post-content p {
		color: #777777;
		display: block;
		font-family: "open_sanslight";
		font-size: 14px;
		font-weight: normal;
		line-height: normal;
		margin-bottom: 14px;
		margin-top: 18px;
	}
/*-- General Class end --*/

/*-- Page Wrapper --*/
#page-content {
	background-image:url(../images/line-bg.jpg);
	background-repeat:repeat-x;
	background-position:top center;
	display:block;
	margin:0;
	padding:0;
}
	
/*-- Slider --*/
.slider-wrapper{
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0 auto;
	background:#2c3e50;
	box-shadow:0 3px 5px #666;
	z-index:1000;
}
.slider{
	position:relative;
	width:100%;
	margin:0 auto;
	background:#2c3e50;
	min-height:540px;
}
	.slider h1 {color:#ffffff;display:block;text-align:center;}
	.slider h1 strong {font-family: 'open_sansbold';}
	.slider p{
		z-index:8000;
		padding:1% 3%;
		font-size:14px;
		line-height:normal;
		font-family: 'open_sanslight';
		color:#ffffff;
		display:block;
		text-align:center;
	}
	.slider .claim{line-height:100%}	
	.slider .teaser{padding:0.5% 1.5%;font-size:14px;line-height:100%}
	.slider .small{width:250px;padding-left:0; padding-right:0px;text-align:center;}

	.light-green{background:#95C542;}
	.turky{background:#348E8A}

@media only screen and (min-width: 1000px){
	.slider{width:1000px;}
}

@media only screen and (min-width: 1440px){
	.slider{width:1440px;}
}
/*-- Slider End --*/