@{
    ViewBag.Title = "Landing Page";
}
<div class="slider-wrapper">
    <div class="responsive-container">
        <div class="slider">
            <div class="fs_loader"></div>
            <div class="slide">
                <img src="~/images/01_waves.png" data-position="240,300" data-in="right" data-ease-in="easeOutCirc">
                <img src="~/images/top-logo.png" alt="logo" title="Logo" width="256" height="116" data-position="100,360" data-in="fade" data-ease-in="easeOutCirc">
                <h1 data-position="220,0" data-in="bottom" data-out="fade">Nullam viverra consectetuer <strong>quisque cursus et</strong>,<br>porttithendrerit nulla quam nunc, accumsan congue.</h1>
                <p data-position="340,40" data-in="bottom" data-step="1" data-delay="500">Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis fauer lobortis quis, varius in, purus.</p>
                <div class="block-center" data-position="420,240" data-in="bottom" data-out="fade" data-step="2">
                    @Html.ActionLink("TAKE A TOUR", "Index", "Home", routeValues:null, htmlAttributes: new { @class = "custom-link-btn custom-fade uppercase" })
                    @Html.ActionLink("WATCH A VIDEO", "Index", "Home", routeValues:null, htmlAttributes: new { @class = "custom-link-btn custom-fade uppercase" })
                </div>
            </div>
            <div class="slide" data-in="slideLeft">
                <img src="~/images/02_small_boxes.png" data-position="80,220" data-in="fade" data-delay="500" data-out="bottomRight">
                <p class="claim light-green small" data-position="30,30" data-in="top" data-step="1" data-out="top">Lorem Ipsum Dolor</p>
                <p class="teaser turky small" data-position="90,30" data-in="bottom" data-step="2" data-delay="500">Lorem Ipsum</p>
                <p class="teaser turky small" data-position="120,30" data-in="bottom" data-step="2" data-delay="1500">Dolor Sit</p>
                <p class="teaser turky small" data-position="150,30" data-in="bottom" data-step="2" data-delay="2500">long established</p>
                <p class="teaser turky small" data-position="180,30" data-in="bottom" data-step="2" data-delay="3500">Bonorum et Malorum</p>
                <p class="teaser turky small" data-position="210,30" data-in="bottom" data-step="2" data-delay="4500">Amet Consectum</p>
                <img src="~/images/01_waves.png" data-position="240,200" data-in="right" data-step="2" data-ease-in="easeOutCirc">
                <img src="~/images/02_main.png" data-position="105,180" data-in="fade" data-delay="500" data-out="bottomRight">

            </div>

        </div>
        <div class="block-center">
            <a href="#page-content" data-scroll data-options='{ "easing": "linear" }' class="link-to center-pos">
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

<section id="page-content" class="white-bg" data-0="margin-top:0px;" data-100p="margin-top:-180px;" data-200p="margin-top:-360px;">

    <!-- section1 -->
    <div class="container" id="section-1">
        <!-- Top Content -->
        <div class="row topcon wow bounceInLeft">
            <article class="col-md-5 col-md-offset-1 post-content">
                <h6>Lorem Dolor</h6>
                <h1>mauris nec</h1>
                <h1>malesuada fames <i class="fa fa-apple"></i> <i class="fa fa-android"></i></h1>
                <p>Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non.</p>
                <a href="#next-sec" data-scroll data-options='{ "easing": "linear" }' class="link-to green">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </a>
            </article>
            <figure class="col-md-4 col-md-offset-1">
                <img src="~/images/w-phone.png" alt="Phone" title="Phone">
            </figure>
        </div>
        <div id="next-sec" class="row topcon wow bounceInRight">
            <figure class="col-md-3 col-md-offset-1">
                <img src="~/images/w-phone.png" alt="Phone" title="Phone">
            </figure>
            <article class="col-md-5 col-md-offset-1 post-content">
                <h6>Gravida</h6>
                <h1>Cum sociis natoque</h1>
                <p>Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies.</p>
                <a href="#carousel-sec" data-scroll data-options='{ "easing": "linear" }' class="link-to green">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </a>
            </article>
        </div>
        <!-- Top Content end -->
    </div>
    <!-- section1 end -->

</section>

